#clipPlayer {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 100%;
    line-height: 0;

    margin: auto;
    /* Set max-width to match the video aspect ratio */
}


#clipPlayer video {
    width: 100%;
    height: 100%;
}


.fullscreenButton
{
    display: none;
}

@media screen and (max-width: 780px)
{
    .fullscreenButton
    {
        display: initial;
        position: absolute;
        right: 3vmin;
        bottom: calc(13vmin + 20px);
        z-index: 10;
        opacity: 80%
    }
}